language: erlang

env:
  global:
    - LUAROCKS_BASE=luarocks-2.0.12
  matrix:
    - LUA=luajit LUA_DEV=libluajit-5.1-dev LUA_VER=5.1 LUA_SFX=jit LUA_INCDIR=/usr/include/luajit-2.0 TURBO_TEST_SSL=1
    #- USE_LUASOCKET=yes LUA=luajit LUA_DEV=libluajit-5.1-dev LUA_VER=5.1 LUA_SFX=jit LUA_INCDIR=/usr/include/luajit-2.0

before_install:
  - if [ $LUA = "luajit" ]; then
      sudo add-apt-repository ppa:mwild1/ppa -y && sudo apt-get update -y;
    fi
  - sudo apt-get install $LUA
  - sudo apt-get install $LUA_DEV
  - sudo apt-get install libssl-dev
  - lua$LUA_SFX -v
  - wget http://luarocks.org/releases/$LUAROCKS_BASE.tar.gz
  - tar zxvpf $LUAROCKS_BASE.tar.gz
  - cd $LUAROCKS_BASE
  - ./configure
    --lua-version=$LUA_VER --lua-suffix=$LUA_SFX --with-lua-include="$LUA_INCDIR"
  - sudo make
  - sudo make install
  - cd $TRAVIS_BUILD_DIR

install:
  - sudo -E luarocks install busted
  - if [[ $USE_LUASOCKET == "yes" ]]; then sudo -E luarocks install luasocket; fi
  - if [[ $USE_LUASOCKET == "yes" ]]; then sudo -E luarocks install luafilesystem; fi
  - if [[ $USE_LUASOCKET == "yes" ]]; then sudo -E luarocks install luasec OPENSSL_LIBDIR=/usr/lib/x86_64-linux-gnu OPENSSL_INCDIR=/usr/include; fi
  - sudo -E make install

script:
  - if [[ $USE_LUASOCKET == "yes" ]]; then export TURBO_USE_LUASOCKET=1; fi
  - make test

notifications:
  email:
    on_success: change
    on_failure: always
